.header {
  padding: 1em 0;
  color: #fff;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-row label {
  text-align: left;
  flex: 2;
}

.form-row label > span {
  font-size: 0.8em
}

.form-row .input {
  flex: 2;
}

.form input {
  height: 1.5em;
}

.instruction {
  font-style: italic;
  font-size: 0.8em;
}

.calculation-result {
  font-size: 2em;
}

.summary {
  font-size: 1em;
  background-color: #526B79;
  color: #fff;
  text-align: left;
  line-height: 2em;
  flex: 1;
}

.show {
  display: block;
  line-height: 2em;
  flex: 1;
}

@media only screen and (min-width: 600px) {
  .summary {
    padding: 2em;
  }

  .show {
    padding: 2em;
  }
}

.hide {
  display: none;
  flex: 1;
}

.result-criteria-list {
  list-style: none;
}