.btnAdjustFairValue {
  padding: 0.5em;
  border-color: #F25E0D;
  border-width: 0.1em;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.header-left {
  text-align: left;
  flex: 2;
}

.header-center {
  flex: 4;
  vertical-align: middle;
  color: #fff;
}

.header h1 {
  font-size: 1.5em;
}

.header h2 {
  font-size: 1.1em;
}

.header h3 {
  font-size: 0.8em;
  font-style: italic;
}

.header-right {
  flex: 2;
  text-align: right;
}

.header a {
  text-decoration: none;
}

.ticker {
  color: #fff;
  font-size: 1.2em;
  font-weight: bolder;
}

.rating {
  font-size: 1em;
  color: #fff;
}

.hint {
  font-size: 0.6em;
}

.price {
  font-size: 0.8em;
  color: #fff;
}

.summary {
  font-size: 0.8em;
  padding: 1em;
  background-color: #526B79;
  color: #fff;
  text-align: justify;
  text-justify: distribute;
}

.chart-section {
  margin-top: 1em;
  padding: 1em 0;
}

.chart-type-selection {
  display: inline-flex;
  flex-wrap: wrap;
}

h1.chart-type-header {
  padding: 1em;
  color: #fff;
}

.chart-type-button {
  width: 2em;
  height: 2em;
}

.loading-charts {
  font-size: 3em;
}

