
.nav-bar {
    background-image: linear-gradient(#000, rgba(0,0,0,0.1));
    display: flex;
    padding: 1em;
  }
  
  @media only screen and (max-height: 1200px) {
    .nav-bar {
      height: 70px;
    }
  }
  
  @media only screen and (max-height: 800px) {
    .nav-bar {
      height: 50px;
    }
  }
  
  @media only screen and (max-height: 500px) {
    .nav-bar {
      height: 40px;
    }
  }
  
  @media only screen and (max-height: 400px) {
    .nav-bar {
      height: 30px;
    }
  }
  
  .logo {
    flex: 1;
  }
  
  .logo a {
    color: #fff;
  }
  
  .logo img {
    height: 90%;
  }
  
  .nav-bar-links {
    display: flex;
    justify-content: flex-end;
    flex: 5;
  }
  
  .nav-bar-links > a {
    color: #fff;
    font-size: 1.2em;
    padding: 1em;
    text-decoration: none;
  }
  
  .nav-bar-links > a:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }